/*** imports ***/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #ff7f2d;
  --heading-color: #022334;
  --paragraph-color: #646e85;
  --body-font: "Montserrat", sans-serif;
  --body-font-size: 16px;
  --line-height30: 1.6;
}

* {
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px;
  color: var(--paragraph-color);
  font-family: var(--body-font);
  line-height: var(--line-height30);
  font-size: var(--body-font-size);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-weight: 700;
}

.btn-main {
  color: white;
  border: 0;
  background: var(--main-color);
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:hover {
  color: var(--main-color);
}

/*** navbar start ***/
.navbar-area {
    padding: 0;
    top: 0;
    position: fixed;
    z-index: 98;
    width: 100% !important;
    transition: all 0.4s;
    background: #fff;
}

.navbar-area .navbar {
    padding: 0;
}

.navbar-area .nav-container {
    background-color: transparent;
    padding: 20px 12px;
    transition: all 0.4s;
}

.navbar-area .nav-container .logo a {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.navbar-area .nav-container .logo a img {
    height: auto;
}

.navbar-area .nav-container .logo .sticky-logo {
    display: none;
}

.navbar-area .nav-container .btn-transparent {
    font-size: 13px;
    font-weight: 700;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav {
    display: block;
    width: 100%;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li {
    display: inline-block;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li a {
    color: #022334;
    font-weight: 400;
    font-size: 18px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li:hover a {
    color: #022334;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li + li {
    margin-left: 20px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children {
    position: relative;
    z-index: 0;
    padding-right: 14px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
    position: absolute;
    right: -1px;
    top: 50%;
    content: "";
    font-family: "fontawesome";
    transform: translateY(-50%);
    transition: all 0.3s ease-in;
    color: #022334;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:hover {
    transition: all 0.4s ease;

}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
    position: absolute;
    text-align: left;
    min-width: 210px;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0;
    top: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    z-index: 9;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    border-radius: 0;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu.border-bt0 {
    border-bottom: 0px !important;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li {
    display: block;
    margin-left: 0;
    line-height: 22px;
    font-size: 15px;
    transition: all 0.4s ease;
    border-bottom: 1px solid #f5f5f5;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
    transition: all 0.3s;
    color: #050a30;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.4s ease;
    position: relative;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a:before {
    position: absolute;
    left: 17px;
    top: 50%;
    content: "";
    font-family: "fontawesome";
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    color: #fff;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:hover {
    background: var(--main-color);
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:hover a {
    color: #fff;
    padding: 10px 20px 10px 30px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:hover a:before {
    visibility: visible;
    opacity: 1;
}

  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:last-child {
    border-bottom: 0;

}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children {
    position: relative;
    z-index: 0;
    padding-right: 0px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children:before {
    position: absolute;
    right: 15px;
    top: 50%;
    content: "";
    font-family: "fontawesome";
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children > .sub-menu {
    left: 100%;
    top: 20px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children > .sub-menu .sub-menu .sub-menu {
    left: auto;
    right: 100%;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children:hover > .sub-menu li:hover:before {
    color: #fff;
}

.navbar-area.style-two .nav-container .navbar-collapse .navbar-nav {
    text-align: left;
    margin-left: 40px;
}
  
.navbar-area-fixed {
    box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.1);
    top: 0;
}

.navbar-area-fixed .nav-container {
    padding: 12px;
}
  
.header-cat-menu {
    position: relative;
    margin-right: 0;
    cursor: pointer;
    margin: 0 0 0 50px;
}
  
.header-cat-menu:hover > ul {
    opacity: 1;
    visibility: visible;
    animation: menuslide 300ms;
}
  
.header-cat-menu ul {
    position: absolute;
    left: -3px;
    top: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 9;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    min-width: 210px;
}

.header-cat-menu ul li {
    width: 100%;
    margin-left: 0;
    line-height: 22px;
    font-size: 15px;
    transition: all 0.4s ease;
    border-bottom: 1px solid #f5f5f5;
}

.header-cat-menu ul li a {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
    transition: all 0.3s;
    color: #050a30;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.4s ease;
    position: relative;
}

.header-cat-menu ul li a i {
    margin-right: 3px;
}

.header-cat-menu ul li a:before {
    position: absolute;
    left: 17px;
    top: 50%;
    content: "";
    font-family: "fontawesome";
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    color: #fff;
}

.header-cat-menu ul li:hover {
    background: var(--main-color);
}

.header-cat-menu ul li:hover a {
    color: #fff;
    padding: 10px 20px 10px 30px;
}

.header-cat-menu ul li:hover a:before {
    visibility: visible;
    opacity: 1;
}

.header-cat-menu ul li:last-child {
    border-bottom: 0;
}
/* nav end */

/* nav left part start */
.nav-left-part .nav-left-part-list {
    margin-bottom: 0;
}

.nav-left-part .nav-left-part-list li {
    display: inline-block;
    list-style: none;
}

.nav-left-part .social-area li {
    margin-left: 0;
}

.nav-left-part .social-area li a {
    color: var(--main-color);
    transition: all 0.4s ease-in;
}

.nav-left-part .social-area li a:hover {
    color: var(--heading-color);
}

/* .custom-select-inner {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 5px;
    background: transparent;
    border: 0 !important;
    box-shadow: none !important;
    margin-top: -2px;
} */
/* nav left part end */

/* .nav-drop:hover {
    background-color: salmon;
} */

.jumbotron {
  background-image: url('https://djaffarmr.github.io/dominie-replica/assets/img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-top: 100px;
  padding: 110px 50px 120px 50px;
}

.jumbotron h2 {
  color: white;
  font-weight: bold;
  margin-bottom: 12px;
  /* animation: 1.5s 0.6s fadeInLeft both; */
}

.jumbotron p {
  color: #d8d5d5;
  font-weight: 500;
  margin-bottom: 12px;
  /* animation: 1.5s 0.8s fadeInLeft both; */
}

main {
  height: 100em;
}

main .display-6{
  text-align: center!important;
  font-weight: bold;
  margin-top: 140px;
  margin-bottom: 48px;
}

main .tab-switch { 
  border: none;
  /* border-radius: 8px; */
  /* padding: 18px 20px 18px 10px;  */
  margin-bottom: 50px;
}

main .tab-switch .active {
  color: orange!important;
  border: none;
}

.tab-switch a {
  color: gray;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.tab-switch a:hover {
  color: orange;
  border: none;
}

.card-rating {
  font-size: 14px;
  font-weight: 600;
  background-color: #f8f8f8;
  height: 36px;
  line-height: 36px;
  padding: 0 22px;
  border-radius: 0px 6px 0px 0px;
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.tab-content .card-bookmark {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 20px;
}

.tab-content .card-title {
  /* font-size: 16px; */
  font-weight: bold;
  margin: 12px 0px 25px 0px;
  text-align: left;
}

.course-selection .course-intro {
  border: 0px;
  margin: 0px 0px 47px 0px;
}

.course-intro .card-body {
  padding-left: 0px;
}

.feed-card-inner {
  border: none;
  border-radius: 8px;
  /* margin: 0px 0px 30px; */
  padding: 50px 30px;
}

.profile-icon {
  height: 60px;
  max-width: 100%;
  border: none;
  border-radius: 8px;
}

.blog-area .blog {
  overflow: hidden;
  border-radius: 8px;
  background: #f3f4f9;
  margin-bottom: 30px;
}

/* .blog-area .blog:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to top, #022334 11%, rgba(255, 255, 255, 0));
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
} */

.blog-area .blog-title {
  left: 0px;
  bottom: 0px;
}

/* client area start */
.client-area {
  padding-top: 120px;
}

.client-slider .thumb img {
  width: auto!important;
  margin: 0px auto;
}

.client-slider .thumb {
  text-align: center;
}

.client-slider .owl-nav button {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.client-slider .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -30px;
}
.client-slider .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -30px;
}
.client-slider .owl-dots {
  display: none;
}
.client-slider:hover button {
  visibility: visible;
  opacity: 1;
}
.client-slider:hover .owl-prev {
  left: -40px;
}
.client-slider:hover .owl-next {
  right: -40px;
}

.owl-nav button {
  height: 50px;
  width: 50px;
  border: 1px solid var(--main-color);
  background: #fff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  color: var(--main-color);
  transition: 0.4s;
  border-radius: 4px;
  cursor: pointer !important;
}
.owl-nav button:hover {
  background: var(--main-color);
  color: #fff;
}

.owl-dots .owl-dot {
  height: 8px;
  width: 40px;
  border: 0;
  display: inline-block;
  padding: 0;
  margin: 0 4px;
  background: #f8f8f8;
  cursor: pointer !important;
  background: #e5e5e5;
}
.owl-dots .owl-dot.active {
  background: var(--main-color);
}

/* client area end */

/* footer area start */
footer {
  padding-top: 144px;
}

.footer-top {
  margin-bottom: 96px;
}

.footer-top .subscribe-inner-wrap input {
  width: 100%;
  height: 80px;
  border: 1px solid var(--paragraph-color)!important;
  padding: 0 176px 0 24px;
  border-radius: 8px;
}

.footer-top .subscribe-inner-wrap button {
  height: 60px;
  position: absolute;
  border-radius: 8px;
  right: 10px;
  top: 10px;
  padding: 0px 32px;
}

.footer-bottom p span {
  color: var(--main-color);
}
/* footer area end */